<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel='stylesheet' href='http://xkcd-embedder.fahmidur.us/css/xkcd-embedder.css'/>
    <title>Consensus Time</title>

    <script>
        function voteButton() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    if (!alert(xhr.responseText)){
                        window.location.reload();
                    }
                }
            }

            xhr.open("POST", "/vote", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                time: document.getElementById("guesstime_input").value
            }));
        }

        function getDateNowUTC() {
            var date = new Date(); 
            var now_utc =  Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
            date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());

            return new Date(now_utc);
        }

        function dateToString(date) {
            return date.toLocaleString('en-GB');
        }

        window.onload = function() {
            setInterval(() => {
                const utcDate = getDateNowUTC();
                const consensusDate = new Date(utcDate.valueOf() - {{ GetConsensusDateDifferenceMillis }});

                document.getElementById("utc-time").innerHTML = dateToString(utcDate) + " Coordinated Universal Time";
                document.getElementById("consensus-time").innerHTML = dateToString(consensusDate) + " Consensus Median Time";
            }, 500);
        };
    </script>
  </head>
  <body>
    <div style="display: flex; flex-direction: column; align-items: stretch">
        <div style="display: flex; align-items: center; justify-content: space-around">
            <div style="display: flex; flex-direction: column; align-items: center">
                <h2>Guess the time here!</h2>
                <label for="guesstime_input">Enter what you feel like the time is right now:</label>
                <div>
                    <input type="time" id="guesstime_input" name="time" value="00:00:00">
                    <button onclick='voteButton()'>Submit</button>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center">
                <div class='xkcd-embed' data-id='2594'></div>
                <div style="display: flex; flex-direction: column; align-items: left;">
                    <h2 id="consensus-time" style="margin: 0px"></h2>
                    <h2 id="utc-time" style="margin: 0px"></h2>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center">
                <!-- Put recent votes here or something -->
            </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: space-around">
            <!-- Put timeline with votes here or something -->
        </div>
    </div>

    <footer style="position: absolute; bottom: 0">
        <p>Consensus Time, v0.1.0</p>
    </footer>

    <script src='http://xkcd-embedder.fahmidur.us/js/xkcd-embedder.js'></script>
  </body>
</html>